src/main/mule/quintrix-customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="api-config" raml="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" >
		<apikit:flow-mappings >
			<apikit:flow-mapping resource="/customers" action="get" flow-ref="getAllCustomers_Flow" />
			<apikit:flow-mapping resource="/customers/{customerId}" action="get" flow-ref="getOneCustomer_Flow" />
			<apikit:flow-mapping resource="/customers" action="post" flow-ref="insertCustomers_Flow" />
			<apikit:flow-mapping resource="/customers/{customerId}" action="delete" flow-ref="deleteOneCustomer_Flow" />
		</apikit:flow-mappings>
	</apikit:config>
    <configuration-properties doc:name="Configuration properties" doc:id="44701d27-33a1-4183-a91d-9f2a260ae2f9" file="conf-props/${env}.yaml" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="ad6bb289-4379-442b-b7d8-c2bac22c1d26" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}" />
	</db:config>
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" outputMimeType="application/json" doc:id="85392df3-9ea1-49db-993b-8169cf7b38cb">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Logger" doc:id="b09aaa5a-2b20-43ea-8f93-64225a91e65b" message="URI: #[attributes.requestUri]"/>
		<apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="deleteOneCustomer_Flow">
		<logger level="INFO" doc:name="Logger" doc:id="a63ba0dc-9402-415e-a43e-f35a491fd12b" message="Delete one customer"/>
		<db:delete doc:name="Delete" doc:id="cd4b72d4-164a-4871-b09c-312017a1ec0e" config-ref="Database_Config">
			<db:sql >DELETE FROM ${db.database}.customer WHERE customer_id = :id;</db:sql>
			<db:input-parameters ><![CDATA[#[{
    id: attributes.uriParams.customerId
}]
]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="1a08fba1-11ed-40fb-bae9-c988b209cb11" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    message: "Deleted " ++ payload as String ++ " row(s)."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="getAllCustomers_Flow">
        <logger level="INFO" doc:name="Logger" doc:id="fa8fdf6c-c1ba-4222-81b2-16eeebb72140" message="Get all customers"/>
		<db:select doc:name="Select" doc:id="2efd7119-4bb1-407f-afb1-26a0ed9e8780" config-ref="Database_Config">
			<db:sql >SELECT * FROM ${db.database}.customer;</db:sql>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="d8300d92-2586-4c3a-bcf5-3844bc4c8d0b">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map  {
    customerId: $.customer_id,
    firstName: $.customer_firstName,
    lastName: $.customer_lastName,
    phoneNumber: $.customer_phoneNumber,
    emailId: $.customer_emailId,
    SSN: $.customer_SSN
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="getOneCustomer_Flow">
		<logger level="INFO" doc:name="Logger" doc:id="40fb6b0e-5123-4fcb-8249-866feb86a9d7" message="Get one customer" />
		<db:select doc:name="Select" doc:id="d1cda9c3-ba27-4444-9b03-da9661894e80" config-ref="Database_Config" >
			<db:sql >SELECT * FROM ${db.database}.customer WHERE customer_id = :id;</db:sql>
			<db:input-parameters ><![CDATA[#[{
    id: attributes.uriParams.customerId
}]
]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="28c02214-8a4c-4b6e-9bf9-8baebec67f52" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    customerId: payload[0].customer_id,
    firstName: payload[0].customer_firstName,
    lastName: payload[0].customer_lastName,
    phoneNumber: payload[0].customer_phoneNumber,
    emailId: payload[0].customer_emailId,
    SSN: payload[0].customer_SSN
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="insertCustomers_Flow">
		<logger level="INFO" doc:name="Logger" doc:id="889bb41c-42cf-46f3-b28b-17c08ef11bff" message="Inserting customers"/>
		<foreach doc:name="For Each" doc:id="1c054236-84a0-4075-8a1e-f76ca673aa21" >
			<db:insert doc:name="Insert" doc:id="38f0d0f7-28c3-4c09-93dd-c52a4d136341" config-ref="Database_Config">
				<db:sql >SELECT * FROM ${db.database}.customer;</db:sql>
			</db:insert>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="39d80c91-76ed-4722-b0a4-599ff54d1228" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    message: "Attempted " ++ sizeOf(payload) as String ++ " insert(s), "
             ++ "inserted "
             ++ (payload reduce ($$ + $) default 0) as String
             ++ " rows."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>