src/main/mule/quintrix-customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="api-config" raml="api/quintrix-customer-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" >
		<apikit:flow-mappings >
			<apikit:flow-mapping resource="/customers" action="get" flow-ref="getAllCustomers_Flow" />
			<apikit:flow-mapping resource="/customers/{customerId}" action="get" flow-ref="getOneCustomer_Flow" />
			<apikit:flow-mapping resource="/customers" action="post" flow-ref="insertCustomers_Flow" />
			<apikit:flow-mapping resource="/customers/{customerId}" action="delete" flow-ref="deleteOneCustomer_Flow" />
		</apikit:flow-mappings>
	</apikit:config>
    <configuration-properties doc:name="Configuration properties" doc:id="411f72a0-cb51-4f90-9c96-160d75783dc4" file="conf-props/${env}.yaml" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="fc9464d9-a3d7-4ef7-881c-726e70d49025" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}" />
	</db:config>
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" outputMimeType="application/json" doc:id="37226846-aed5-4b19-9635-2bb3bd79e1db">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Logger" doc:id="c96434d9-f711-47cc-ad96-dc7733d9a5e5" message="URI: #[attributes.requestUri]"/>
		<apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="deleteOneCustomer_Flow">
		<logger level="INFO" doc:name="Logger" doc:id="335ef6d2-e969-434d-b9ec-091e66a19c57" message="Delete one customer"/>
		<db:delete doc:name="Delete" doc:id="598ff80f-eacf-4815-81ef-4302f56add09" config-ref="Database_Config">
			<db:sql >DELETE FROM ${db.database}.customer WHERE customer_id = :id;</db:sql>
			<db:input-parameters ><![CDATA[#[{
    id: attributes.uriParams.customerId
}]
]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="da311715-f3a3-45b3-b24b-b40bfc37cee8" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    message: "Deleted " ++ payload as String ++ " row(s)."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="getAllCustomers_Flow">
        <logger level="INFO" doc:name="Logger" doc:id="fa59ef4b-765d-4a5e-a3f1-d8bcc3633bc6" message="Get all customers"/>
		<db:select doc:name="Select" doc:id="d8eaa963-c1d5-42df-8ccb-c3dfbb37d08c" config-ref="Database_Config">
			<db:sql >SELECT * FROM ${db.database}.customer;</db:sql>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="c66083c4-9df6-491a-967c-3fab9be018be">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map  {
    customerId: $.customer_id,
    firstName: $.customer_firstName,
    lastName: $.customer_lastName,
    phoneNumber: $.customer_phoneNumber,
    emailId: $.customer_emailId,
    SSN: $.customer_SSN
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="getOneCustomer_Flow">
		<logger level="INFO" doc:name="Logger" doc:id="9332e477-efe0-4a60-bf90-edc1729a40b1" message="Get one customer" />
		<db:select doc:name="Select" doc:id="76df660f-efd1-47d4-8e9d-857700101fb5" config-ref="Database_Config" >
			<db:sql >SELECT * FROM ${db.database}.customer WHERE customer_id = :id;</db:sql>
			<db:input-parameters ><![CDATA[#[{
    id: attributes.uriParams.customerId
}]
]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b3b2433f-ab66-4fff-8f4c-bc42f6a246fc" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    customerId: payload[0].customer_id,
    firstName: payload[0].customer_firstName,
    lastName: payload[0].customer_lastName,
    phoneNumber: payload[0].customer_phoneNumber,
    emailId: payload[0].customer_emailId,
    SSN: payload[0].customer_SSN
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="insertCustomers_Flow">
		<logger level="INFO" doc:name="Logger" doc:id="85e4c79f-a237-4fc5-a78f-e84d40a02926" message="Inserting customers"/>
		<db:bulk-insert doc:name="Bulk insert" doc:id="0e9515ad-c637-44f9-a5e6-3e94c899ea9d" config-ref="Database_Config">
			<db:bulk-input-parameters ><![CDATA[#[payload map {
    id: $.customerId,
    lastName: $.lastName,
    firstName: $.firstName,
    phoneNumber: $.phoneNumber,
    emailId: $.emailId,
    ssn: $.SSN
}]]]></db:bulk-input-parameters>
			<db:sql >INSERT INTO training_mc.customer ( customer_id, customer_lastName, customer_firstName,customer_phoneNumber,customer_emailId,customer_SSN )
   VALUES
   ( :id, :lastName, :firstName, :phoneNumber, :emailId, :ssn);
</db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="Transform Message" doc:id="e3d292e3-9eb8-43d9-91c7-81dd74f4ea21" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    message: "Attempted " ++ sizeOf(payload) as String ++ " insert(s), "
             ++ "inserted "
             ++ (payload reduce ($$ + $) default 0) as String
             ++ " rows."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>